---
import Blobs from "../components/Blobs.astro";
import Layout from "./Layout.astro";
import TableOfContents from "../components/TableOfContents.astro";

const { frontmatter, headings } = Astro.props;

const dateOptions: object = {
    year: "numeric",
    month: "long",
    day: "numeric",
};

const formattedPublishDate = new Date(
    frontmatter.publishDate
).toLocaleDateString("en-US", dateOptions);

const toc = buildToc(headings);

function buildToc(headings: any) {
    const toc: any[] = [];
    const parentHeadings = new Map();
    headings.forEach((h: any) => {
        const heading = { ...h, subheadings: [] };
        parentHeadings.set(heading.depth, heading);

        if (heading.depth === 1) {
            toc.push(heading);
        } else {
            parentHeadings.get(heading.depth - 1).subheadings.push(heading);
        }
    });
    return toc;
}

console.log("toc is: " + toc);
---

<Layout title={frontmatter.title} description={frontmatter.description}>
    <Blobs
        b1={frontmatter.colors.b1}
        b2={frontmatter.colors.b2}
        b3={frontmatter.colors.b3}
    />
    <div class="self-center flex flex-col gap-2">
        <h1 class="font-superior text-5xl leading-normal">
            {frontmatter.title}
        </h1>
        <div class="font-medium sm:ml-2">{formattedPublishDate}</div>
    </div>
    <div class="h-px bg-black my-5"></div>
    <div class="flex flex-col-reverse lg:flex-row justify-start">
        <div
            class="prose prose-headings:font-superior sm:ml-2 prose-img:max-h-screen prose-h1:mb-0 mr-0"
        >
            <slot />
        </div>
        <div class="max-lg:h-px bg-black my-5"></div>
        <nav class="pl-4">
            <div class="uppercase text-sm font-semibold text-gray-600 sticky">
                Table of Contents
            </div>
            <ul class="pt-2">
                {toc.map((heading) => <TableOfContents heading={heading} />)}
            </ul>
        </nav>
    </div>
</Layout>
